.comic-list-card {
    display: inline-block;
    width: 280px;
    margin: 20px;
    align-content: center;

    p {
        overflow: hidden;
    }
}

.list-container {
    margin: 0 auto;
    text-align: center;

}