

<div class="list-container ">
  <mat-card  *ngFor="let comic of comics" class="comic-list-card" >
    <mat-card-header>
      <mat-card-title>{{ comic.title }}</mat-card-title>
    </mat-card-header>
  
    <img routerLink="/comic/{{ comic.comicURL}}" mat-card-image [src]="comic.thumbnailURL">

    <mat-card-content>
      <p>{{ comic.tagline }}</p>
    </mat-card-content>

    <mat-card-actions *ngIf="auth.isModerator()">
      <button mat-button (click)="message(comic)">Send Message</button>
      <button mat-button (click)="delete(comic)">Delete Comic</button>
      <button mat-button (click)="banOwner(comic)">Ban User</button>
    </mat-card-actions>

  

  </mat-card>
</div>
