

<div class="list-container ">
  <mat-card  *ngFor="let comic of comics" class="comic-list-card" >
    <mat-card-header>
      <mat-card-title>{{ comic.title }}</mat-card-title>
    </mat-card-header>
  
    <img routerLink="/comic/{{ comic.comicURL}}" mat-card-image [src]="comic.thumbnailURL">

    <mat-card-content>
      <p>{{ comic.description }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="auth.isModerator()" mat-button (click)="message(comic)">Send Message</button>
    </mat-card-actions>
  
 
  </mat-card>
</div>
