<div *ngIf="comic">

  <mat-card class="comic-desc">
    <mat-card-title>
      {{ comic.title }}
    </mat-card-title>

    <mat-card-content>

      <a routerLink="upload" *ngIf="isMine()">Upload Images</a>

      <p>{{comic.description}}</p>

      <!-- Volumes, Chapters and Pages -->
      <div *ngIf="comic.volumes.length > 0">
        <mat-expansion-panel *ngFor="let volume of comic.volumes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Volume - {{ volume.volumeNumber }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li *ngFor="let chapter of getVolumeChapters(volume)">
              <a routerLink="{{ baseLink }}/{{ volume.volumeNumber }}/{{chapter.chapterNumber}}/1">Chapter - {{ chapter.chapterNumber}}</a>
            </li>
          </ul>

        </mat-expansion-panel>
      </div>

      <!-- Chapters and Pages only -->
      <div *ngIf="comic.volumes.length == 0 && comic.chapters.length > 0">
        <ul>
          <li *ngFor="let chapter of comic.chapters">
            <a routerLink="{{ baseLink }}/{{chapter.chapterNumber}}/1">Chapter - {{ chapter.chapterNumber}}</a>
          </li>
        </ul>
      </div>

      <!--  Pages only -->
      <div *ngIf="comic.volumes.length == 0 && comic.chapters.length == 0 && comic.pages.length > 0">
        <button mat-raised-button color="primary" routerLink="{{ baseLink }}/1">Start Reading</button>
        <button mat-raised-button color="primary" routerLink="getLastUnreadPage()">Continue Reading</button>
      </div>

      <!-- Nothing -->
      <div *ngIf="comic.volumes.length == 0 && comic.chapters.length == 0 && comic.pages.length == 0">
          <h2 class="mat-h2">This comic has no content yet.</h2>
      </div>

    </mat-card-content>


  </mat-card>



</div>
