.comic-desc {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

  a {
      color: white;
      text-decoration: none;
  }

  .active-link {
    text-decoration: underline;
  }
}
