<body class="text-center">
  <form style="max-width: 380px" class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input style="margin-bottom: -1px;" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword2" class="sr-only">Password2</label>
    <input type="password" id="inputPassword2" class="form-control" placeholder="Comfrim password" required>
    <div class="checkbox mb-3">
      <label>
        <input name="terms" type="checkbox"> I have read and agree to the <a href="#">terms of service</a>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">Copyright &copy; 2018</p>
  </form>
</body>


