<h1 mat-dialog-title>Would you like to {{message}}.</h1>
<p>This action cannot be reversed.</p>

<div mat-dialog-content>
  <form class="form-container"  #confirmForm="ngForm">
    <mat-form-field>
      <input matInput [(ngModel)]="input"  [formControl]="challengeControl" placeholder="Confirmation">
      <mat-hint align="end">Enter {{challenge}} to confirm.</mat-hint>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="done()" [disabled]="input !== challenge">Confirm</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>