<h4>Upload Images for {{ comic.title }}</h4>
<label htmlFor="volOption">Volume</label>
<select [(ngModel)]="selectedVolumeID" (ngModelChange)="onVolumeChange($event)" id="volOption">
    <option [ngValue]="-1">None</option>
    <option *ngFor="let volume of volumeOptions" [ngValue]="volume.volumeID">
        {{ volume.volumeNumber }}
    </option>
</select>


<label htmlFor="chapOption">Chapter</label>
<select [(ngModel)]="selectedChapterID" (ngModelChange)="onChapterChange($event)" id="chapOption">
    <option *ngIf="selectedVolumeID <= 0" [ngValue]="-1">None</option>
    <option *ngFor="let chapter of chapterOptions" [ngValue]="chapter.chapterID">
        {{ chapter.chapterNumber }}
    </option>
</select>

<p>{{ message }}</p>
<div>
    <input #fileInput type="file" (change)="fileChange($event)" placeHolder="Select a file" accept="image/*" multiple>
</div>
<button (click)="uploadFiles()">Upload</button>
