<div *ngIf="profile">
  <div class="center-div" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">

    <div class="name">{{profile.username}}'s Profile</div>

  </div>

  <div class="profile-box info-box general mat-whiteframe-1dp" layout="column">
    <mat-toolbar color="warm">
      <mat-toolbar-row>
        <span>About {{profile.username}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="info-box">
      <div class="info-line">
        <!-- <div class="title">About Me</div> -->
        <div class="info">{{profile.biography}}</div>
      </div>
    </div>

    <mat-toolbar color="warm">
      <mat-toolbar-row>
        <span>{{profile.username}}'s Comics</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="mat-padding">
      <ul>
        <li *ngFor="let comic of profile.comics" [routerLink]="['/comic', comic.comicurl]">
          <h3>{{comic.title}}</h3>
          <img class="preview" style="width: 200px; height: 112.5px;" [title]="comic.title" [src]="img(comic.thumbnailurl)">
          <p>{{comic.description}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
