<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <button class="app-icon-button" (click)="start.toggle()">
    <mat-icon class="app-toolbar-menu">menu</mat-icon>
  </button>
  <span>ComicHub</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #start mode="side" class="comics-sidenav">
    <h3>Navigation</h3>
    <ul>
      <li>
        <a mat-line routerLink="/comics" routerLinkActive="active" (click)="start.close()">Comics</a>
      </li>
      <li *ngIf="!auth.loggedIn()">
        <a mat-line routerLink="/register" (click)="start.close()">Register Account</a>
      </li>
      <li *ngIf="auth.loggedIn()">
        <a mat-line routerLink="/comics/create" (click)="start.close()">Create Comic</a>
      </li>
    </ul>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
