<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <button mat-icon-button (click)="start.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="toolbar-title" >ComicHub</span>
  <mat-form-field class="searchbar-width"><input matInput placeholder="Search Comics"></mat-form-field>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <span routerLink="/messages" *ngIf="auth.loggedIn()">
    <mat-icon class="app-toolbar-menu" *ngIf="messages.getUnreadCount() === 0">notifications</mat-icon>
    <mat-icon class="app-toolbar-menu" *ngIf="messages.getUnreadCount() !== 0">notifications_active</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #start mode="side" class="comics-sidenav">
    <h3>Navigation</h3>
    <ul>
      <li>
        <a mat-line routerLink="/comics" (click)="start.close()">Comics List</a>
      </li>
    </ul>
    <h3 *ngIf="auth.loggedIn()">My Comics</h3>
    <ul *ngIf="auth.loggedIn()">
      <li *ngFor="let comic of comics.myComics">
        <a mat-line routerLink="comic/{{comic.comicURL}}/upload" (click)="start.close()">Manage {{comic.title}}</a>
      </li>
      <li>
        <a mat-line routerLink="/comics/create" (click)="start.close()">Create New Comic</a>
      </li>
    </ul>
    <h3>Authenticaiton</h3>
    <ul>
      <li *ngIf="!auth.loggedIn()">
        <a mat-line routerLink="/login" (click)="start.close()">Login</a>
      </li>
      <li *ngIf="!auth.loggedIn()">
        <a mat-line routerLink="/register" (click)="start.close()">Register Account</a>
      </li>
      <li *ngIf="auth.loggedIn()">
        <a mat-line (click)="logout()">Logout</a>
      </li>
    </ul>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
