.edit-form {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.preview {
  width: 300px;
  height: 168.75px;
  border: 1px solid black;
}

.form-container>* {
  width: 100%;
}

.submit-button {
    flex-grow: 1;
}

