<div *ngIf="comic">
  <mat-card class="edit-form">
    <mat-card-header>
      <mat-card-title>Edit {{ comic.title }}</mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <form (ngSubmit)="submitComic()" #heroForm="ngForm" class="form-container">

        <mat-form-field hintLabel="Max 30 characters">
          <input matInput #titleIn name="Title" [(ngModel)]="title" [formControl]="name" maxlength="30" placeholder="Title"
            value="{{ comic.title }}">
          <mat-hint align="end">{{titleIn.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="name.invalid">{{nameError()}}</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Short tagline used to advertise your comic">
          <input  matInput #taglineIn placeholder="Comic Tagline" name="tagline" maxlength="30" [(ngModel)]="tagline"
            [formControl]="tag" name="tagline" value="{{ comic.tagline }}">
          <mat-hint align="end">{{taglineIn.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="tag.invalid">{{tagError()}}</mat-error>
        </mat-form-field>


        <mat-form-field hintLabel="Longer description of comic.">
          <textarea  matInput #descIn placeholder="Comic description" name="description" maxlength="1000"
            [(ngModel)]="description" [formControl]="desc" name="description"></textarea>
          <mat-hint align="end">{{descIn.value?.length || 0}}/1000</mat-hint>
          <mat-error *ngIf="desc.invalid">{{descError()}}</mat-error>
        </mat-form-field>

        <br/>

        <label>Thumbnail (16:9 aspect ratio)
          <input [disabled]="working" #fileInput type="file" (change)="fileChange($event)" placeHolder="Select a file" accept="image/*">
        </label>

        <br/>

        <span>
          <button mat-raised-button [disabled]="!isValid() || working" color="primary" type="submit" class="submit-button">Submit</button>
        </span>
        <br/>

      </form>
      <!--
        <button mat-raised-button [disabled]="!isValid() || working" color="primary" type="submit" class="submit-button">Submit</button>
        -->

      <ng-template [ngIf]="previewSrc">
        <br/>
        <img #previewImg [src]="previewSrc" class="preview">
        <br/>
      </ng-template>

      <wcm-schedule-edit></wcm-schedule-edit>


    </mat-card-content>

  </mat-card>
</div>
