<mat-card class="login-form">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
        <form #registerForm="ngForm" class="form-container">
            <mat-form-field>
                <input [attr.disabled]="working" matInput #titleIn name="username"  [(ngModel)]="username" [formControl]="nameControl" maxlength="30" 
                placeholder="Username or Email" required>
                <mat-error *ngIf="nameControl.invalid">{{nameError()}}</mat-error>
            </mat-form-field>
  
            <mat-form-field >
                <input [attr.disabled]="working" matInput #passIn placeholder="Password" name="password" [(ngModel)]="password" [formControl]="passwordControl"
                [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="passwordControl.invalid">{{passwordError()}}</mat-error>
            </mat-form-field>
            <p>{{message}}</p>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!ok() || working" (click)="submit()">Sign In</button>
      <button mat-raised-button color="accent" [disabled]="!canReset() || working" (click)="reset()">Reset Password</button>
      <button mat-button routerLink="/register" [disabled]="working" >Register New Account</button>
    </mat-card-actions>
  
  </mat-card>
  