<div *ngIf="comic">
    <h4>{{ comic.title }}</h4>
    <div *ngIf="page">
        <ul>

            <li *ngIf="volume">
                Volume: {{ volume.volumeNumber }}
            </li>
            <li *ngIf="chapter">
                Chapter: {{ chapter.chapterNumber }}
            </li>

            <li>
                <button [disabled]="!hasPrevPage()" (click)="prevPage()">Prev</button>
                Page: {{ page.pageNumber }}
                <button [disabled]="!hasNextPage()" (click)="nextPage()">Next</button>
            </li>
            <img src="{{ page.imgURL }}" alt="{{ page.altText }}" />
        </ul>
    </div>
</div>
